CompileFlags:
  Add: [-Wall, -Wextra, -Wpedantic, -Wcovered-switch-default, -ffreestanding, -m32, -DKERNEL_SIZE_KB]

---

If:
	PathMatch: .*\.c
CompileFlags:
  Add: [-xc, -std=c23]

---

If:
	PathMatch: .*\.h
CompileFlags:
  Add: [-xc-header, -std=c23]
